<div class="container">
  <div class="jumbotron text-center">
    <h1>EAT DA BURGER MAN!!</h1>
    <h2>INSERT PIC HERE</h2>
  </div> <!-- close Jumbotron -->

  <div class="row">
    <div class="col-6 col-md-4 text-center">.col-6 .col-md-4
      <div class="card-body">
        <h5 class="card-title">Burgers ready to eat</h5>
      </div>    
    </div>
       
    <div class="col-6 col-md-4 text-center">.col-6 .col-md-4
      <div class="card-body">
        <h5 class="card-title">Enter your burger here</h5>
      </div>
    </div>

    <div class="col-6 col-md-4 text-center">.col-6 .col-md-4
      <div class="card-body">
        <h5 class="card-title">Burgers already devoured.</h5>
      </div>
    </div>
  </div>  <!-- close row -->

</div>  <!-- close container -->