<div class="container">    
  <div class="text-center">
    <h1>EAT DA BURGER MAN!!</h1>
    <img src="http://www.burgerweb.com/wp-content/uploads/2015/12/bestburgerinamerica.jpg" class="rounded mx-auto d-block" alt="Cheeseburger "height="250" width="450">
    <br><hr>
  </div>

  <div class="row">
    <div class="col-6 col-md-4 text-center">
      <div class="card-body panel">
        <h5 class="card-title" id="leftside"><strong>Burgers ready to eat</strong></h5><hr>
        <ul>
          {{#each burgers}}
            {{#unless devoured}}    
              {{this.id}} - {{this.burger_name}}
                <button type="button" class="eatBurger btn btn-warning" id="eatbutton"
                data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour it</button><hr>
            {{/unless}}
          {{/each}}
        </ul>  
      </div>    
    </div>
       
    <div class="col-6 col-md-4 text-center">
      <div class="card-body">
        <h3 class="card-title"><strong>Order burger here</strong> </h3>
        <form class="create-form">
          <div class="form-group">
            <input type="text" id="newBurger" name="burger_name">           
          </div>
          <button type="submit" class="btn btn-success">Order Now</button>
        </form>     
      </div>
    </div>

    <div class="col-6 col-md-4 text-center">
      <div class="card-body panel">
        <h5 class="card-title" id="rightside"><strong>Burgers already devoured.</strong></h5>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=1}}
          {{/if}}
        {{/each}}
      </div>
    </div>
    </div>  <!-- close row -->
  </div>
</body>